.welcome-logo img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.illustration{
  position: relative;
  margin-bottom: 1rem;
}
.illustration .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  margin: 0.25em 0;
}

.page-box {
  width: 80%;
}
.page-box h2 {
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
}
.page-box p {
  font-size: 14px;
  color: gray;
}

.btn.secondary {
  background: transparent;
  border: 1px solid #004aad;
  /* border: 1px solid #abbaab; */
  margin-top: 1rem;
  color: #004aad;
  /* color: #abbaab; */
}
