.container {
  position: relative;
  display: flex;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  animation: pulse 2s infinite;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #2a2a25;
}

.content {
  flex: 1;
}

.line1,
.line2 {
  background-color: #2a2a25;
  border-radius: 0.5rem;
}

.line1 {
  height: 1.25rem;
  width: 60%;
  margin-bottom: 0.25rem;
}

.line2 {
  height: 1.25rem;
  width: 90%;
}

.dot {
  position: absolute;
  bottom: 1.25rem;
  right: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #2a2a25;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
