.red {
  color: rgb(192, 0, 0);
}
.home-main {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #141414;
  color: white;
  overflow: hidden;
}

.home-sidebar {
  /* padding: 1rem; */
  width: 30%;
  height: 100%;
  display: flex;
  position: relative;
}

/* .sidebar-logo{
  position: relative;
} */
.sidebar-logo .loader{
  width: 15%;
top: 0;
transform: translate(-50%, -0%);
}

.sidebar-left {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0 8px 8px 0;
  background-color: black;
}

.side-left-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.side-left-top svg {
  font-size: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}

.side-bottom-profile img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 25%;
  cursor: pointer;
}

.side-left-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.side-left-bottom svg {
  font-size: 25px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.side-bottom-phbook {
  position: absolute;
  right: 5%;
  bottom: 2%;
  z-index: 99;
}

.side-bottom-phbook svg {
  background-color: #f6f8c6;
  color: black;
  padding: 10px;
  border-radius: 25%;
  margin: 0;
  font-size: 50px;
}

/* ..........sidebar..................... */

.sidebar {
  width: 85%;
  background-color: #141414;
  padding: 1rem;
}

.sidebar-heading h1 {
  margin: 0.5rem 0;
  font-size: 25px;
}

.sidebar-chatlist {
  height: 85vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-top-left-radius: 8px;
}

.sidebar-chatlist::-webkit-scrollbar {
  display: none;
}

.chatlist-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.chatlist-item-image {
  /* width: 18%; */
  position: relative;
}

.chatlist-item-image span {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: #f6f8c6;
  border-radius: 50%;
  border: 4px solid #141414;
}

.chatlist-item img {
  background-color: gray;
  width: 55px;
  height: 55px;
  border-radius: 25%;
  object-fit: cover;
}

.chatlist-item-detail {
  /* padding: 1rem; */
  position: relative;
  width: 100%;
  margin-left: 15px;
}

.chatlist-item-detail h4 {
  margin: 0;
  font-size: 16px;
}

.chatlist-item-detail p {
  margin: 0;
  padding-top: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.chatlist-item-notic-true {
  color: gray;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
.chatlist-item-notic-true p {
  color: #f6f8c6;
  margin: 0;
  padding: 6px 0;
  font-size: 12px;
}
.chatlist-item-notic-true span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: gray;
  font-size: 12px;
  height: 15px;
  width: 15px;
  background-color: #f6f8c6;
  border-radius: 50%;
}

.chatlist-item-notic {
  color: gray;
}

.chatlist-item-notic p {
  color: gray;
  margin: 0;
  padding: 6px 0;
  font-size: 12px;
}

/* ..........Searchbar................... */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin: 1rem 0;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 35px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #37372c, 0 0 25px -17px #000;
  border: 0;
  border-radius: 8px;
  background-color: #000000;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #37372c, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #37372c;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* ..........chatbox..................... */
.home-chatbox {
  background-color: rgb(31, 31, 31);
  /* padding: 1rem; */
  width: 70%;
  height: 100%;
}

@media (max-width: 900px) {

  .home-chatbox {
    width: 100%;
    display: none;
  }
  .home-sidebar {
    width: 100%;
    display: none;
  }
  .hideitems{
    display: inline;
  }
  .sidebar-left {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    z-index: 99;
  }
  .side-left-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0;
  }
  .side-left-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0;
  }
  .side-left-top svg,
  .side-left-bottom svg {
    width: 100%;
    margin: 0;
  }
  .side-bottom-phbook {
    bottom: 120%;
  }
  .side-bottom-profile{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-chatlist {
    padding-bottom: 70px;
  }

  .modal-content {
    width: 90% !important;
  }
}
