.chatbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(47, 47, 42);
  background: linear-gradient(
    15deg,
    rgb(24, 24, 22) 0%,
    rgba(228, 225, 124, 0.171) 100%
  );
  position: relative;
}

.chatbox-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.chatbox-main h2 {
  margin: 0;
}

.chatbox-head {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #141414;
  border-left: 1px solid #252525;
  width: 100%;
}

.chatbox-head img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 20px;
}

.chatbox-head-detail {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.chatbox-head-detail h2 {
  margin: 0;
}

.messanger-box {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  left: 0;
  bottom: 7%;
}

/* .messages-received {
  position: absolute;
  left: 0;
} */

.messages-received .boxess {
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.messages-received p {
  margin: 0;
  background: gray;
  padding: 10px 18px;
  margin: 5px 0px 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
}
.messages-received .boxess:first-child p:after {
  position: absolute;
  content: "";
  top: 0;
  left: -5%;
  border-left: 15px solid transparent;
  border-top: 20px solid gray;
  z-index: 0;
}

.messages-received p span {
  font-size: 10px;
  margin-left: 10px;
}

/* .messages-sent{
  position: absolute;
  right: 0;
} */

.messages-sent .boxess {
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.messages-sent p {
  margin: 0;
  background: #f6f8c6;
  color: black;
  padding: 10px 18px;
  margin: 5px 12px 5px 0px;
  border-radius: 10px;
  position: relative;
}
.messages-sent .boxess:first-child p:after {
  position: absolute;
  content: "";
  top: 0;
  right: -6%;
  border-right: 15px solid transparent;
  border-top: 20px solid #f6f8c6;
  z-index: 0;
}

.messages-sent p span {
  font-size: 10px;
  margin-right: 10px;
}

.message-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.message-box input {
  outline: none;
  padding: 15px 20px;
  width: 100%;
  border: none;
  background-color: rgb(32, 32, 32);
  color: white;
}

.message-box button {
  position: absolute;
  bottom: 0;
  right: 0;
  outline: none;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 159);
}
