.chatbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(47, 47, 42);
  background: linear-gradient(
    15deg,
    rgb(24, 24, 22) 0%,
    rgba(228, 225, 124, 0.171) 100%
  );
  position: relative;
}

.chatbox-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.chatbox-main h2 {
  margin: 0;
}

.chatbox-head {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #141414;
  border-left: 1px solid #252525;
  width: 100%;
}

.chatbox-head img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 20px;
}

.chatbox-head-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.chatbox-head-item {
  display: flex;
  align-items: center;
}

.chatbox-head-detail h2 {
  margin: 0;
}

.chatbox-head-item svg {
  font-size: 25px;
  margin-left: 1.5rem;
  cursor: pointer;
}

.messanger-box {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  left: 0;
  bottom: 7%;
}

/* .messages-received {
  width: 50%;
} */

.messages-received .boxess {
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
}
.messages-received p {
  margin: 0;
  background: rgb(70, 70, 70);
  padding: 10px 18px;
  margin: 5px 0px 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
 
}
.messages-received .boxess:first-child p:after {
  position: absolute;
  content: "";
  top: 5px;
  left: 0%;
  border-left: 25px solid transparent;
  border-top: 25px solid rgb(70, 70, 70);
  z-index: 0;
}

.messages-received p span {
  font-size: 12px;
  margin-left: 20px;
  color: #aaaaaa;
  font-weight: 500;
}

.messages-sent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.messages-sent .boxess {
  width: 50%;
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
}
.messages-sent p {
  margin: 0;
  background: #f6f8c6;
  color: black;
  padding: 10px 18px;
  margin: 5px 12px 5px 0px;
  border-radius: 10px;
}
.messages-sent .boxess:first-child p:after {
  position: absolute;
  content: "";
  top: 5px;
  right: 0%;
  border-right: 25px solid transparent;
  border-top: 25px solid #f6f8c6;
  z-index: 0;
}

.messages-sent p span {
  font-size: 12px;
  margin-left: 20px;
  color: #777777;
  font-weight: 500;
}

.message-box {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.message-box-input{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.message-box-input svg{
  position: absolute;
  left: 2%;
  font-size: 20px;
}
.message-box-input :nth-child(3){
  position: absolute;
  right: 7%;
  left: auto;
  font-size: 28px;
  cursor: pointer;
}

.message-box input {
  outline: none;
  padding: 15px 50px;
  margin: 0 5px;
  width: 83%;
  border-radius: 10px;
  border: none;
  background-color: rgb(49, 49, 49);
  color: white;
}

.message-box button {
  position: absolute;
  bottom: 0;
  right: 5px;
  outline: none;
  padding: 13px;
  border: none;
  border-radius: 25%;
  aspect-ratio: 1/1;
  background-color: #f6f8c6;
  display: flex;
  cursor: pointer;
}
.message-box button svg {
  font-size: 20px;
}
