.home-main{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
}

.home-sidebar{
    padding: 2rem;
    width: 30%;
    height: 100%;
}

/* ..........sidebar..................... */

.sidebar-chatlist {
    height: 90vh; 
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  
  .sidebar-chatlist::-webkit-scrollbar {
    display: none;
  }
  
  .chatlist-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .chatlist-item-image{
      width: 20%;
  }
  .chatlist-item img {
    background-color: gray;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .chatlist-item-detail {
    /* padding: 1rem; */
    position: relative;
    width: 80%;
    margin-left: 20px;
  }
  .chatlist-item-detail span {
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
  }
  
  .chatlist-item-detail h4 {
    margin: 0;
    font-size: 18px;
  }
  .chatlist-item-detail p {
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
  }
  
/* ..........chatbox..................... */
.home-chatbox{
    background-color: rgb(31, 31, 31);
    /* padding: 1rem; */
    width: 70%;
    height: 100%;
}

